#catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .filtro1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            margin-top: 3rem;
            list-style: none;
            display: flex;
            width: 30%;
            justify-content: space-between;
            align-items: center;
        }
    }

    .catalCont {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem;

        .catlg {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.1);
            overflow: hidden;

            /* AGREGAR ESTO PARA LAS IMÁGENES */
            img {
                width: 100%;
                aspect-ratio: 1 / 1.2;
                /* Define un alto fijo para todas. Puedes cambiar este valor */
                object-fit: cover;
                /* Mantiene la proporción sin deformar la imagen */
                display: block;
                /* Evita un margen inferior fantasma que traen las imágenes por defecto */
            }
        }
    }
}

@media (max-width: 1080px) {
    #catalogo {
        .catalCont  {

        grid-template-columns: repeat(2, 1fr);

        }
    }
}